$bg-color: #050F14;
$bg-light-color: #0A1A24;
$orange-color: #EE5927;
$white-color: #ffffff;
$black-color: #000000;
$menu-link-color: #939393;
$footer-link-color: #757575;
$breadcrumb-color: #495860;
$input-bg: #0A1820;
$input-border: #142833;
$base-font-color: #969696;
$stars-color: #FFAF00;

$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

$fs-10: 0.625rem !important;
$fs-12: 0.75rem !important;
$fs-13: 0.8125rem !important;
$fs-14: 0.875rem !important;
$fs-15: 0.9375rem !important;
$fs-16: 1rem !important;
$fs-18: 1.125rem !important;
$fs-20: 1.25rem !important;
$fs-22: 1.375rem !important;
$fs-23: 1.4375rem !important;
$fs-24: 1.5rem !important;
$fs-29: 1.8125rem !important;
$fs-30: 1.875rem !important;
$fs-32: 2rem !important;
$fs-34: 2.125rem !important;
$fs-36: 2.25rem !important;
$fs-42: 2.625rem !important;
$fs-48: 3rem !important;
$fs-60: 3.75rem !important;
$fs-62: 3.875rem !important;
$fs-64: 4rem !important;
$fs-72: 4.5rem !important;