@import 'variables';
@import 'mixins';

$search-bg-color: #0D212E;

.header{
    background-color: $bg-light-color;
    padding: 24px 0;

    .menu{

        .search{
            margin-right: 20px;
            input{
                background-color: $search-bg-color;
                border-color: $search-bg-color;
                color: $white-color;
                &:focus {
                    outline: 0;
                    box-shadow: none;
                }
            }
            .input-group-text{
                border-radius: 6px !important;
                cursor: pointer;
                background-color: $orange-color;
                border-color: $orange-color;
            }
        }

        ul{
            li{
                display: inline-block;
                a{
                    display: block;
                    color: $menu-link-color;
                    padding: 9px 13px;
                    font-weight: $font-medium;
                    font-size: $fs-14;
                    letter-spacing: 0.5px;

                    &.active{
                        color: $white-color;
                    }
                    &:focus, &:hover {
                        color: $white-color;
                    }
                    &.sign-up {
                        border-radius: 4px;
                        border: 1px solid $white-color;
                    }
                }
            }
        }
    }
}